In [5]:
import numpy as np
import pandas as pd

In [6]:
np.set_printoptions(precision=2)

**Считываем данные из файла**

In [7]:
data = pd.read_csv("C:\\Users\\Zloy\\mlcours\\beauty.csv", sep=";")

In [8]:
type(data)

pandas.core.frame.DataFrame

**Смотрим на первые 5 строк**

In [9]:
data.head()

    wage  exper  union  goodhlth  black  female  married  service  educ  looks
0   5.73     30      0         1      0       1        1        1    14      4
1   4.28     28      0         1      0       1        1        0    12      3
2   7.96     35      0         1      0       1        0        0    10      4
3  11.57     38      0         1      0       0        1        1    16      3
4  11.42     27      0         1      0       0        1        0    16      3

In [ ]:
data.shape

**Краткая статистика – info и describe**

In [ ]:
data.info()

In [ ]:
data.describe()

**Индексация**

In [ ]:
data["exper"].head()

**loc и iloc**

In [5]:
data.loc[0:5, ["wage", "female"]]

    wage  female
0   5.73       1
1   4.28       1
2   7.96       1
3  11.57       0
4  11.42       0
5   3.91       1

In [6]:
data.iloc[:, 2:4].head()

   union  goodhlth
0      0         1
1      0         1
2      0         1
3      0         1
4      0         1

**Логическая индексация**

In [ ]:
data[data["female"] == 1]["wage"].mean(), data[data["female"] == 0]["wage"].mean()

In [ ]:
data[(data["female"] == 0) & (data["married"] == 1)]["wage"].median(), data[
    (data["female"] == 0) & (data["married"] == 0)
]["wage"].median()

**Groupby**

In [ ]:
for look, sub_df in data.groupby("looks"):
    print(look)

    # что угодно
    print(sub_df["goodhlth"].mean())

In [ ]:
data.groupby("looks")[["wage", "exper"]].agg(np.median)

**Сводная таблица**

In [ ]:
pd.crosstab(data["female"], data["married"])

In [ ]:
pd.crosstab(data["female"], data["looks"])

**Добавление столбцов (построение признаков)**

In [10]:
data["is_rich"] = (data["wage"] > data["wage"].quantile(0.75)).astype("int64")

In [11]:
data.head()

,wage,exper,union,goodhlth,black,female,married,service,educ,looks,is_rich
0,5.73,30,0,1,0,1,1,1,14,4,0
1,4.28,28,0,1,0,1,1,0,12,3,0
2,7.96,35,0,1,0,1,0,0,10,4,1
3,11.57,38,0,1,0,0,1,1,16,3,1
4,11.42,27,0,1,0,0,1,0,16,3,1

In [ ]:
data["rubbish"] = 0.56 * data["wage"] + 0.32 * data["exper"]

**map и apply**

In [ ]:
def string_gender(female):
    return "female" if female else "male"

In [ ]:
d = {1: "union", 0: "non-union"}

In [ ]:
data["union"].map(d).head()

In [ ]:
data["female"].apply(lambda female: "female" if female else "male").head()